<div class="container">

    <div class="row justify-content-center">
        <div clas="col col-md-12 text-center mt-2 mb-3">


            <h1> <img class="img-responsive burger" src="/img/burger1.jpg">Eat a burger</h1><span>
                <h3>Order Burger</h3>
                <br>
                <form id="create">
                    <textarea name="burgerName" type="text"></textarea>
                    <button type="submit" id="createSubmit" class="bg-info text-white">Order Burger</button>
                </form>
            </span>

        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-lg-6" style="width: 18rem;">
            <div class="card">

                <div class="card card-body h-100 special-card">
                    <h4 class="card-title">Ordered Burger</h4>
                    <p class="card-text">

                        <ul>
                            {{#each burgers}}
                            {{#unless devoured}}
                            <li>
                                <p> {{this.id}}. {{this.burger_name}}
                                    <span><button type="submit" data-update="{{this.id}}"
                                            class="update bg-info text-white">devoured</button>
                                        <button type="submit" data-del="{{this.id}}"
                                            class="delete bg-info text-white">delete</button>
                                        <textarea id="customerName"> </textarea></span></p>


                            </li>
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </p>


                </div>
            </div>

        </div>
        <div class="col-lg-6" style="width: 18rem;">
            <div class="card">
                <div class="card card-body h-100 special-card">
                    <h4 class="card-title">Delivered Burger</h4>
                    <p class="card-text">
                        <ul>
                            {{#each burgers}}

                            {{#if devoured}}
                            <li>
                                <p> {{this.id}}. {{this.burger_name}}

                                    <span> <button type="submit" data-del="{{this.id}}"
                                            class="delete bg-info text-white">delete</button></span></p>

                            </li>
                            {{/if}}

                            {{/each}}
                        </ul>
                    </p>


                </div>

            </div>
        </div>
        <br>
        <hr>
        <br>


    </div>
    <script type="text/javascript">

        $("#createSubmit").on("click", function (event) {
            event.preventDefault();
            var x = $("#create [name=burgerName").val();


            var newBurgerName = {

                burger_name: $("#create [name=burgerName").val()
            };

            $.post("/app/burger", newBurgerName).then(function () {
                console.log("Order created");
                location.reload();
            });

        });

        $(".update").on("click", function (event) {
            event.preventDefault();
            var id = $(this).data("update");

            var devoured = 1;
            console.log(id);
            var newUpdate = {
                devoured: devoured

            }
            console.log(newUpdate)
            $.ajax({
                method: "PUT",
                url: "/app/burger/" + id,
                data: newUpdate
            }).then(function () {
                console.log("order delived");
                location.reload();
            });

        });

        $(".delete").on("click", function (event) {
            event.preventDefault();
            var id = $(this).data("del")
            $.ajax({
                method: "DELETE",
                url: "/app/burger/" + id
            }).then(function () {
                console.log("Record Deleted");
                location.reload();
            });

        });


        ////delete end clouser here

        $("#customerName").on("change", function (event) {

            var custEaten = 1
            var newCustName = {
                cust_Name: $("#customerName").val(),
                cust_Eaten: custEaten
            }

            $.post("/app/custName", newCustName).then(function () {
                console.log("Order created");
                location.reload();
            });



        });


    </script>